p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

.portfolio {
    padding: 94px 0;
}